# EditorConfig is awesome: http://EditorConfig.org
root = true

[*]
end_of_line = lf
insert_final_newline = true

[*.js]
charset = utf-8

[*.{neon,js}]
charset = utf-8
indent_style = tab
indent_size = 4

[*.{yml}]
charset = utf-8
indent_style = space
indent_size = 2

[composer.json]
indent_style = tab
indent_size = 4
