parameters:
	varDir: %appDir%/../var
	srcDir: %appDir%/../src


extensions:
	console: Kdyby\Console\DI\ConsoleExtension
	events: Kdyby\Events\DI\EventsExtension
	annotations: Kdyby\Annotations\DI\AnnotationsExtension
	doctrine: Kdyby\Doctrine\DI\OrmExtension


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


doctrine:
	metadata:
		Workshop: %srcDir%
	types:
		uuid: Ramsey\Uuid\Doctrine\UuidType
		uuid_binary: Ramsey\Uuid\Doctrine\UuidBinaryType
		float_enum: Consistence\Doctrine\Enum\Type\FloatEnumType
		integer_enum: Consistence\Doctrine\Enum\Type\IntegerEnumType
		string_enum: Consistence\Doctrine\Enum\Type\StringEnumType

		date_immutable: VasekPurchart\Doctrine\Type\DateTimeImmutable\DateImmutableType
		datetime_immutable: VasekPurchart\Doctrine\Type\DateTimeImmutable\DateTimeImmutableType
		datetimetz_immutable: VasekPurchart\Doctrine\Type\DateTimeImmutable\DateTimeTzImmutableType
		time_immutable: VasekPurchart\Doctrine\Type\DateTimeImmutable\TimeImmutableType

#console:
#	application: false


events:
	debugger: false


includes:
	- services.neon
